<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Suffragist</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <p>Add new dinner?</p>
    <form action='add' method='post'>
      <p>Food Name: <input type="text" name="name"></p>
      <p>Food Code: <input type="text" name="code"></p>
      <!--input type="submit"-->
      <button type='submit' class='btn btn-primary'>Cast this vote!</button>
    </form>
  </body>
</html>